.page-body-wrapper {
  // min-height: calc(100vh - #{$navbar-height}) !important;
  min-height: 100vh;
  background-color: $page-bg-darker;
  display: flex;
  flex-direction: column !important;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
  width: calc(100% - #{$sidebar-width-lg}) !important;
  float: right;
  transition: width $action-transition-duration $action-transition-timing-function, margin $action-transition-duration $action-transition-timing-function;

  &.full-page-wrapper {
    min-height: 100vh;
    width: 100%;
    padding-top: 0;

    .main-panel {
      padding-top: 0;

      .content-wrapper {
        padding: 0;

        >div {
          height: 100%;
        }
      }
    }
  }

  @media (max-width:992px) {
    width: 100% !important;
    min-height: 100vh !important;
  }
}


.downloadcv {
  color: $primary-color;
}

.contact__banner {
  background-image: url("https://unsplash.com/photos/MoDcnVRN5JU/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjc1NDQxNjAy&force=true&w=1920");
}

.projects__banner {
  background-image: url("https://unsplash.com/photos/-_gMskl-uoc/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MjB8fGZ1bm55JTIwZG9nc3xlbnwwfHx8fDE2NzYzMjcwNDM&force=true&w=1920");
}

.project_middle__button {


  button {
    display: none;
    transition: all 2.3s ease-in-out;
    transform: scale(0);
  }

  &:hover {

    button {

      display: flex;
     
      transform: scale(1);
    }


  }
}


.z-150 {
  z-index: 150;
}

.z-160 {
  z-index: 160 !important;
}