////// NAVBAR ////////
$page-bg-color: #1E1E28;
$page-bg-darker: #191923;
$primary-color: #FFC107;


///////// NAVBAR ////////
$navbar-height: 70px;
$navbar-bg: $page-bg-color;
$navbar-menu-color: #ffffff;
$navbar-font-size: .9375rem;
$navbar-icon-font-size: 1.125rem;
$navbar-box-shadow: 5px 10px 25px -20px rgb(0 0 0 / 50%);





///// VARIABLES  /////
$text-muted: #12151e;


$blue:              #5E50F9;
$indigo:            #6610f2;
$purple:            #6a008a;
$pink:              #E91E63;
$red:               #f96868;
$orange:            #f2a654;
$yellow:            #f6e84e;
$green:             #46c35f;
$teal:              #58d8a3;
$cyan:              #57c7d4;
$black:             #000;
$white:             #ffffff;
$white-smoke:       #f2f7f8;
$violet:            #41478a;
$darkslategray :    #2e383e;
$dodger-blue :      #3498db;
$gray-light:       #aab2bd;
$gray-lighter:     #e8eff4;


///////// NAVBAR ////////

$navbar-height: 70px;
$navbar-bg: $page-bg-color;
$navbar-menu-color: #ffffff;
$navbar-font-size: .9375rem;
$navbar-icon-font-size: 1.125rem;
$navbar-box-shadow: 5px 10px 25px -20px rgb(0 0 0 / 50%);



////////// SIDEBAR ////////
$sidebar-width-lg: 150px;
$sidebar-width-mobile: 224px;
$sidebar-width-mini: 185px;

$sidebar-bg: $page-bg-darker;

$sidebar-menu-color: $gray-light;
$sidebar-menu-active-bg: $primary-color;
$sidebar-menu-active-color: $black;

// $sidebar-menu-hover-bg: darken($sidebar-bg, 5%);
// $sidebar-menu-hover-color: color(white);


$sidebar-menu-font-size: 0.9375rem;
$sidebar-menu-padding-y: 1.4rem;
$sidebar-menu-padding-x: 1.188rem;

///////// SIDEBAR ////////
/// 
/// 
/// 

////////// MEASUREMENT AND PROPERTY VARIABLES //////////

$action-transition-duration: 0.25s;
$action-transition-timing-function: ease;

////////// OTHER VARIABLES //////////